body {
 font-size: 1.2em;
 background: #eeeeee;
}

h1, h3 {
 letter-spacing: 2px;
}

h1 {
 font-size: 6em;
 line-height: 0;
 color: #455A64;
}

h3 {
 font-size: 2em;
 color: #607D8B;
}

ul {
 margin: 0;
 padding: 0;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 background: #CFD8DC;
}

li {
 padding: 0.8em 1em;
 list-style: none;
 color: #212121;
 font-weight: 600;
}

li:hover {
 color: #7C4DFF;
 cursor: pointer;
 font-weight: 600;
}

.container {
 margin: 3em;
 text-align: center;
}
