body {
	font-family: Roboto, sans-serif;
	border: 0;
	padding: 0;
}

.container-flex {
	display: flex;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	align-items: center;
	justify-content: center;
}

.container-flex .content {
	text-align: center;
	letter-spacing: 1px;
	padding: 60px;
}

.container-flex h2 {
	display: block;
	font-weight: 300;
	font-size: 40px;
	margin: 5px 0 10px;
}

.container-flex small {
	font-weight: 300;
	font-size: 14px;
}

.container-flex small span {
	color: orange;
	font-weight: 500;
}

.container-flex small strong {
	color: #008bea;
	font-weight: 400;
	display: block;
	margin-top: 7px;
	font-weight: 500;
}
