body {
 margin: 0;
}

#error {
 background: #eceeee;
 text-align: center;
 font-size: 45px;
 font-family: 'Ruda', sans-serif;
 position: fixed;
 width: 100%;
 height: 100%;
 line-height: 1.25em;
}

#error #error-text {
 position: relative;
 font-size: 40px;
 color: #666;
 top: 50%;
 right: 50%;
 transform: translate(50%,-50%);
}

#error #error-text p {
 margin: 0;
 letter-spacing: 0.5px;
}

#error #error-text span {
 color: #c00;
 font-size: 100px;
}

#error #error-text a.button {
 background-color: #c00;
 color: #fff;
 text-decoration: none;
 padding: 10px 20px;
 font-size: 20px;
 transition-duration: 0.5s;
}

#error #error-text a.button:hover {
 background-color: #444;
 color: #fff;
}

#error #error-text a.button:active {
 background-color: #444;
 color: #fff;
}

#error #error-text #copyright {
 font-size: 16px;
}

@media only screen and (max-width: 640px) {

#error #error-text {
 font-size: 20px;
}

#error #error-text span {
 font-size: 60px;
}

#error #error-text a.button {
 padding: 5px 10px;
 font-size: 15px;
}

#error #error-text a.button:hover, #igniel404 #error-text a.button:active {
 border: 0;
}

}