#CybotCookiebotDialogHeader {
 display: none !important;
}

@media screen and (min-width: 1280px) {
 #CybotCookiebotDialog.CybotEdge .CybotCookiebotDialogContentWrapper {
  max-width: 1300px !important;
 }
}

#CybotCookiebotDialogPoweredByText {
 display: none !important;
}

#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyButtonAccept, #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonAccept, #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
 background-color: #141414 !important;
 border-color: #141414 !important;
}

#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonCustomize, #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
 border-color: #141414 !important;
}

#CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
 border-color: #141414 !important;
}

#CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton:hover {
 opacity: 1 !important;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSliderWrapper:hover input[type="checkbox"]:not(:disabled) + .CybotCookiebotDialogBodyLevelButtonSlider {
 opacity: 1 !important;
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane label:not([for="CybotCookiebotDialogBodyLevelButtonNecessary"]) .CybotCookiebotDialogBodyLevelButtonDescription:hover {
 color: inherit !important;
}

#CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyEdgeMoreDetails a {
 color: inherit !important;
}

.CookiebotWidget-main-logo {
 display: none !important;
}
