#CybotCookiebotDialogPoweredbyCybot {
 display: none !important;
}

#CybotCookiebotDialogPoweredbyLink::after {
 content: 'Impostazioni dei cookie';
 font-size: 16px;
 font-weight: 700;
 margin-left: 20px;
}

#CybotCookiebotDialogHeader {
 border-bottom: none !important;
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane {
 border-bottom: none !important;
}

#CybotCookiebotDialog .CybotCookiebotScrollContainer {
 border-bottom: none !important;
}

@media screen and (min-width: 601px) {
 #CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonWrapper:not(:last-of-type) {
  border-right: none !important;
 }
}

@media screen and (min-width: 1280px) {
 #CybotCookiebotDialog .CookieCard {
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-bottom: none !important;
 }
}

@media screen and (min-width: 1280px) {
 #CybotCookiebotDialog .CookieCard .CybotCookiebotDialogDetailBodyContentCookieTypeIntro {
  padding-right: 9em;
 }
}

#CybotCookiebotDialogBodyContentTitle {
 padding-left: 25px !important;
 padding-right: 25px !important;
}

#CybotCookiebotDialogBodyContentText {
 padding-left: 25px !important;
 padding-right: 25px !important;
}

#CybotCookiebotDialogDetailBodyContentTextAbout {
 padding-left: 40px !important;
 padding-right: 40px !important;
}

#CybotCookiebotDialogDetailFooter {
 display: none !important;
}
