#CybotCookiebotDialogHeader {
 display: none !important;
}

@media screen and (min-width: 1280px) {
 #CybotCookiebotDialog.CybotEdge .CybotCookiebotDialogContentWrapper {
  max-width: 1300px !important;
 }
}

#CybotCookiebotDialogPoweredByText {
 display: none !important;
}

#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyButtonAccept, #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonAccept, #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
 background-color: #141414 !important;
 border-color: #141414 !important;
}

#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonCustomize, #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
 border-color: #141414 !important;
}

#CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
 border-color: #141414 !important;
}
