body {
 margin: 0;
}

#message {
 background: #eceeee;
 text-align: center;
 font-size: 45px;
 font-family: 'Ruda', sans-serif;
 position: fixed;
 width: 100%;
 height: 100%;
 line-height: 1.25em;
}

#message #message-text {
 position: relative;
 font-size: 40px;
 color: #141414;
 top: 50%;
 right: 50%;
 transform: translate(50%,-50%);
}

#message #message-text p {
 margin: 0;
 letter-spacing: 0.5px;
}

#message #message-text a.button {
 background-color: #141414;
 color: #fff;
 text-decoration: none;
 padding: 10px 20px;
 font-size: 20px;
}

@media only screen and (max-width: 640px) {

#message #message-text {
 font-size: 20px;
}

#message #message-text a.button {
 padding: 5px 10px;
 font-size: 15px;
}

}
