body {
 font-family: 'Josefin Sans', sans-serif;
 font-size: 14px;
 margin: 0;
}

#header {
 padding: 35px 0 38px;
 text-align: center;
 width: 960px;
}

#header a.logo {
 display: block;
 margin: 0 auto;
 width: 260px;
}

#header ul {
 margin: 0;
 padding: 50px 0 0;
}

#header ul li {
 display: inline;
 padding: 0 19px;
}

#header ul li a {
 color: #252525;
 display: inline-block;
 font-size: 16px;
 padding: 0 0 3px;
 text-decoration: none;
}

#header ul li a:hover, #header ul li.selected a {
 color: #b79800;
}

#body {
 padding: 0 0 30px;
 text-align: center;
}

#body h1 {
 color: #fff;
 background: #252525;
 display: inline-block;
 padding: 21px 28px 12px;
 margin-top: 35px;
 font-size: 35px;
}

.article {
 margin: 0 auto;
 padding: 30px 30px 20px;
 width: 680px;
 text-align: justify;
}

.article h2 {
 font-family: 'Josefin Sans', sans-serif;
 font-size: 25px;
 font-weight: normal;
 margin: 0 0 30px;
}

.article h3 {
 color: #252525;
 line-height: 24px;
 margin: 0;
 padding: 0;
 font-size: 20px;
 font-weight: 400;
}

.article h4 {
 background: #252525;
 color: #fff;
 display: inline-block;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 25px;
 font-weight: 400;
 margin: 0 0 30px;
 padding: 8px 27px 10px;
}

.article p {
 margin: 10px 0 10px;
 font-size: 18px;
 font-weight: 300;
 line-height: 24px;
}

#body #featured {
 margin: 0 0 15px;
}

#body #featured img {
 border: 0;
 display: block;
 margin: 0;
 width: 100%;
}

#body #featured div {
 left: 50%;
 margin-left: -480px;
 margin-top: -171px;
 padding: 0 0 0 470px;
 position: absolute;
 top: 50%;
 text-align: left;
 width: 490px;
}

#body #featured div h2 {
 background: #fff;
 color: #000;
 display: inline-block;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 20px;
 font-weight: 400;
 margin: 0 0 18px;
 padding: 23px 27px 20px;
}

#body #featured div span {
 background: #252525;
 color: #fff;
 display: inline-block;
 font-size: 20px;
 margin: 7px 0;
 padding: 12px 27px;
}

#body #featured div a {
 background: #0ba39c;
 color: #fff;
 display: inline-block;
 font-size: 16px;
 margin: 15px 0 0;
 padding: 26px 27px 22px;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
}

#body #featured div a:hover {
 background: #1fc3bc;
}

#body > ul {
 margin: 0 auto;
 overflow: hidden;
 padding: 35px 0 0;
 width: 960px;
}

#body > ul li {
 display: block;
 float: left;
 margin: 0 10px 45px;
 padding: 0;
 width: 300px;
}

#body > ul li.gallery {
 margin-bottom: 20px;
}

#body > ul li a {
 color: #000;
 display: block;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 20px;
 margin: 0;
 padding: 0;
 text-align: center;
 text-decoration: none;
}

#body > ul li a img {
 border: 2px solid #1a1a1a;
 display: block;
 margin: 0;
 padding: 0;
}

#body > ul li a img.restaurant {
 filter: saturate(.5);
 transition: 0.5s ease-in-out;
}

#body > ul li a img.restaurant:hover {
 filter: saturate(1);
}

#body > ul li a img.photo {
 filter: saturate(.5);
}

#body > ul li a span {
 display: block;
 margin: 0;
 padding: 33px 0 0;
}

form {
 margin: 0 auto;
 padding-top: 35px;
 width: 620px;
}

form input, form textarea {
 border: 2px solid #252525;
 color: #252525;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
 outline: none;
 margin: 0 0 37px;
 padding: 20px 10px;
 width: 596px;
}

form textarea {
 height: 175px;
 overflow: auto;
 resize: none;
}

form #send {
 background: #252525;
 border: 2px solid #252525;
 color: #fff;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
 display: inline-block;
 padding: 20px 28px;
 margin: 0 0 37px;
 width: auto;
}

form #send:hover {
 background: #fff;
 color: #252525;
 cursor: pointer;
}

#footer {
 background-color: #252525;
 padding: 44px 0 42px;
}

#footer p {
 color: #fff;
 text-align: center;
 line-height: 24px;
 margin: 0;
}

#footer a {
 color: #898989;
 text-decoration: none;
}

.CybotCookiebotDialogContentWrapper {
 max-width: 1080px !important;
}

a#CybotCookiebotDialogPoweredbyCybot, div#CybotCookiebotDialogPoweredByText {
 display: none;
}

#CybotCookiebotDialogHeader {
 display: none !important;
}

.CybotCookiebotDialogBodyBottomWrapper {
 display: none !important;
}

#CybotCookiebotDialogBodyButtonAccept {
 background-color: #141414 !important;
 border-color: #141414 !important;
}

#CybotCookiebotDialogBodyButtonDecline {
 border-color: #141414 !important;
}
